<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-full h-screen bg-[#eee] flex items-center justify-center
                bg-[url(https://logopond.com/logos/4f3451e7d34fed3130f2bc95e879b62a.png)]
                bg-no-repeat bg-center">

                <div class="w-1/2 h-3/4 rounded-xl bg-[#00000032] flex items-center justify-center">
                  
                </div>

    </div>
</body>
</html>