<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
            <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

            <style>
                *{
                    font-family:monospace;
                    font-size: xx-large;
                }
            </style>

</head>
<body>

      <div class="w-full h-screen bg-[#eee] flex flex-col justify-center items-center gap-5">

        <div class="w-1/2 h-10 bg-[#fff] rounded-xl shadow-xl flex items-center justify-center">
            <h1 class="font-bold">User Info</h1>
        </div>

        <div class="w-1/2 h-2/3 bg-[#fff] rounded-xl shadow-xl 
                    flex flex-col items-center justify-center 
                    p-9 gap-5">


            <h2> <span class="font-bold">Username :</span> <%= username %></h2>

            
            
            <% if(active === "false"){ %>
             <% console.log('if worked'); %>
             
            <h2> <span class="font-bold">Your status :</span> 
            you have have been not active at this week 
            due to that admin is disabled you </h2>

            <% }else { %>

            <h2> <span class="font-bold">Your status :</span> 
            Greate Job !  you have have been active this week</h2>

            <% } %>

         </div>   

       </div>

</body>
</html>