<!-- views/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
       *{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background: #6ba098;
            color: rgb(17, 65, 65);
        }
        body{
            padding: 50px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid rgb(21, 102, 90);
            padding: 8px;
            text-align: left;
        }
        th {
            background-color:rgb(105, 169, 163);
        }
        td{
            background: #80bab2;
        }
        h1{
            width: 100%;
            text-align: center;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(188, 247, 241);
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Acitiveness</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            
            <% users.forEach( (user) => { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.active %></td>
                    <td><%= user.password %></td>
                </tr>
            <% }); %>

        </tbody>
    </table>
</body>
</html>